<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title><h2>Add Address</h2></mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Give a Nick Name</mat-label>
          <input matInput placeholder="Placeholder">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Building No</mat-label>
          <input matInput placeholder="Placeholder">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Street no</mat-label>
          <input matInput placeholder="Placeholder">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Locality</mat-label>
          <input matInput placeholder="Placeholder">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Pin Code</mat-label>
          <input matInput placeholder="Placeholder">
          <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <!--<div>
    <app-save-address></app-save-address>
  </div>-->


      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Submit</button>
    </form>
  </mat-card>

</div>
