<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">PackXprezApp</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/viewProducts" class="nav-link" href="#">View Products</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link" href="#">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<br />
