<div class="login-wrapper" fxLayout="column"  fxLayoutAlign="center center">
  
<mat-card class="box1" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-subtitle>Experience Awesomeness in 3 simple steps</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div>
     
      <form [formGroup]="formGroup">
        <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="false">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput formControlName="nameFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          <br/>
          
      
            <mat-form-field>
              <mat-label>Email ID</mat-label>
              <input matInput formControlName="emailFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <br/>
            

            <mat-form-field>
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="contactFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <br/>
            

            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput formControlName="passwordFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <br/>
            

            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirmpasswordFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <br/>
            
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
      
          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div>Fill out your Address</div>
            </ng-template>
            <mat-form-field>
              <mat-label>Building No</mat-label>
              <input matInput formControlName="buildingnoFormCtrl">
              <mat-error>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>
            


            <mat-form-field>
              <mat-label>Street No</mat-label>
              <input matInput formControlName="streetnoFormCtrl">
              <mat-error>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>
            
            <mat-form-field>
              <mat-label>Locality</mat-label>
              <input matInput formControlName="localityFormCtrl">
              <mat-error>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>
            
            <mat-form-field>
              <mat-label>Pin Code</mat-label>
              <input matInput formControlName="pincodeFormCtrl">
              <mat-error>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>
            
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
      
          <mat-step>
            <ng-template matStepLabel>Confirm your information</ng-template>
            One click away from awesomeness
            <div>
              <button mat-button>Done</button>
              <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
      </div>
  </mat-card-content>
</mat-card>

</div>